# Игнорировать окружения Python
venv/
myenv/

# Игнорировать кеши Python
__pycache__/
*.pyc
*.pyo

# Игнорировать логи
*.log

# Игнорировать папку relay-client
relay-client/

# Игнорировать временные файлы
*.tmp
*.swp

